@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url(./root.css);

* {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.Sign-Up {
    background: var(--background-sky);
    color: var(--color-white);
    border-radius: 100px;
    padding: 7px 18px;
    font-weight: 500;
    line-height: 26px;
}

.Sign-Up:hover {
    cursor: pointer;
    background: var(--background-sky);
    color: var(--color-black);
}

.li {
    line-height: 26px;
    color: var(--color-grey);
}

.li:hover {
    cursor: pointer;
    font-weight: bolder;
}

.d-flex {
    display: flex;
}

.text-align {
    text-align: center;
}

.align-content {
    align-content: center;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.justify-items {
    justify-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.gap-20 {
    gap: 20px;
}

.pr-126 {
    padding-right: 126px;
}

.logo {
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    color: var(--color-voilet);
    white-space: nowrap;
}

.li-1:hover {
    color: var(--color-voilet);
    cursor: pointer;
}

.heading {
    line-height: 52px;
    color: var(--color-voilet);
    margin-bottom: 77px;
    letter-spacing: -0.4000000059604645px;
}

.input {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 16px;
    border-radius: 100px;
    border: 2px solid var(--border-color);
    padding-top: 18px;
    padding-left: 24px;
    margin-bottom: 30px;
}

.Sign-in {
    background: var(--background-sky);
    color: var(--color-white);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    border: none;
    padding: 17px;
    cursor: pointer;
}

.Sign-in:hover {
    cursor: pointer;
    color: var(--color-black);
    background-color: var(--background-sky);
    font-size: larger;
}

.line {
    line-height: 26px;
    color: var(--color-grey);
    margin-top: 17px;
    margin-right: 10%;
}

nav {
    margin-bottom: 50px;
}

.video {
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
}

.para {
    font-weight: 500;
    line-height: 28px;
    color: var(--color-grey);
    margin-top: 33px;
}

.w-100 {
    width: 100%;
}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .Sign-in {
        max-width: 430px;
    }

    .heading {
        max-width: 600px;
    }

    .input {
        max-width: 430px;
    }

    .para {
        max-width: 470px;
    }
}

@media (max-width:992px) {
    .menu-box {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--color-white);
        transition: all 200ms linear;
    }

    label[for="openslider"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 1;
    }

    .flex {
        flex-direction: column;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        background-color: var(--color-voilet);
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.menu-box {
        right: 0;
    }

    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-30px);
        opacity: 0;
        visibility: hidden;
    }

    .align-items {
        align-items: center;
    }

    .justify-content {
        justify-content: center;
    }

    .d-flex {
        display: flex;
    }

}